# Local development only
DB_URL=jdbc:postgresql://localhost:15432/expo
DB_USERNAME=expo
DB_PASSWORD=expo-local-only
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=16379
EUREKA_CLIENT_ENABLED=false
